// Main css // 

html {
	font-family: 'Playfair Display', serif;
}

body {
	background: gray; 
	background: -webkit-linear-gradient(white,gray);
	background: -o-linear-gradient(white,gray);
	background: -moz-linear-gradient(white,gray);
	background: linear-gradient(white,gray);
}

header {
	box-shadow: inset 0 0 3em gray;
	height: 350px;
	color: white;
	border-bottom: 2px solid gray;
	text-align: center;
}

header > h1 {
	position: relative;
	top: 48px;
	text-shadow: 0 0 1em black;
	letter-spacing: 2px;
}

.navbar-default {
	margin-bottom: 0px;
}

a {
	color: white !important;
}

#img-placeholder {
	border: 1px solid white;
	border-radius: 50%;
	background-color: gray;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	top: 60px;
}

#content-area {
	background: linear-gradient(silver, white);
	height: auto;
	box-shadow: inset 0 0 0.5em black;
	font-size: 1.4em;
	padding: 18px 8px 18px 8px;
}

div > h3 {
	text-align: center;
	letter-spacing: 4px;
	font-variant: small-caps;
}

div > h3:first-letter {
	text-decoration: underline;
}

#content-area-2 {
	//height: 700px;
	box-shadow: inset 0 0 1em gray;
	background-color: gray;
}

#anchor {
	height: 50px;
	display: block;
}
